body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}

/* Box (for corners & padding) */
.box {
    padding: 0px 20px;
    /* border-radius: 10px; */
    background-color: #ddd;
}


/* Set up grids... specifics */

/*  #### Grid for Main page #### */


.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "banner nav"
        "main main"
        "footer footer";
        grid-gap: 4px;

}


@media only screen and (max-width: 1100px) {
  .wrapper{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "banner"
        "nav"
        "main"
        "footer";
  }
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #DDD;  /* silver */
    font-size: 150%;
    padding: 20px;
    vertical-align: middle;
    border: solid 1px;
}

.main {
    grid-area: main;
    background-color: #eee;  /* very pale grey */
    border: solid 1px #CCC;
}


.footer {
    grid-area: footer;
    text-align: right;
    padding: 20px;
}

/*  #### Grid for Navigation area page #### */

.linkwrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas:
        "commonsearches topsearch topadmin";
    grid-gap: 4px;
}


.commonsearches {
    grid-area: commonsearches;
    text-align: center;
}

.topsearch {
    grid-area: topsearch;
    text-align: right;
}

.topadmin {
    grid-area: topadmin;
    text-align: center;
}


@media only screen and (max-width: 900px) {
  .linkwrapper{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "commonsearches commonsearches"
        "topsearch topsearch"
        ;
  }

  .commonsearches {
    text-align: left;
  }

  .topsearch {
    text-align: left;
  }

  .topadmin {
    text-align: right;
  }

}


/* ### Additional div styling (put colours / corners here) */


/* Area colouring... */

/* logo, banner and footer background are the same */
.banner, .footer {
    background-color: #888;  /* dark grey */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #fff;
}

/* #### Links Styling  #### */

a.heading:link, a.heading:visited {
  color: #fff;
  text-decoration: none;
}

/* Navigation Links */
a.topnav {font-weight: bold;}
a.topnav:link, a.topnav:visited {color: #007c72;} /*dark teal */
a.topnav:hover {color: #707a00; text-decoration: none;}


/* links in page */
a {font-weight: bold;}
a:link{color: #007c72;} /* dark teal */
a:visited{color: #222;} /* dark grey */
a:hover{color: #707a00;}    /* Dark Green*/

/* #### Headings / text styling #### */
h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* purple */
    font-weight: bold;
}

/* ### Form / Search  Styling #### */

form {
    width: 100%;
}

.search {
    background:#fff;
    width: 75%;
}

.submit::-moz-focus-inner {
    border: 0;
}


.submit {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position:relative;
    width: 45px;
    font-size: 14px;

    left:-5px;
    background-color: #636263;
    color:#d6d3d7;
    border: 1px solid #000;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
}


input[type="submit"]:hover {
    background-color: #000;
}


input {
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
}


.quicksearch {
    border-radius: 5px 0 0 5px;
    display: inline-block;
}

.results {
    background-color: #f4ebe1;
    border: 1px solid #000;
    padding: 10px;

    margin-right: 20px;
    border-radius: 20px;
}

.tag {
  background-color: bisque;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #000;
  border-radius: 5px;
}

.movie_title {
  font-size: 22pt;
  margin-bottom: 25px;
}

.certficate_icons {
  height: 25px;
  width: auto;
}

.content_icon {
  height: 16px;
}

.about {
  background-color: bisque;
  border: solid 1px #d37000;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.metascore {
  font-family: Arial;
  color: #FFF;
  font-size: 25px;
}

.metascritic-logo-contents {
  height: 55px;
  display: inline-block;
  vertical-align: bottom;
}

.metascore_div {
  text-align: center;
  display: inline-block;
  line-height:50px;
  width: 50px;
  height: 50px;
}

.error {
  background-color: #ffcece;
  color: #721a1a;
  border-radius: 10px;
  padding: 10px;
  border: solid 1px #721a1a;
}

input[type="submit"]:hover {
    background-color: #ffd575;
}


select {
  height: 40px;
  padding: 5px;
}

/* progress bar styling */
.progress_divs {
  margin-top: 10px;
  background-color: #888;
  padding: 5px;
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "text bar_one bar_two bar_three";
  grid-gap: 4px;
}

.progress_bar_text {
  grid-area: text;
}

.first_bar {
  grid-area: bar_one;
}

.second_bar {
  grid-area: bar_two;
}

.third_bar {
  grid-area: bar_three;
}

.progress_rectangle_complete {
  background-color: green;
  border:2px solid #a9a9a9;
}

.progress_rectangle_current {
  background-color: #D3D3D3;
  border:5px solid #a9a9a9;
}
.progress_rectangle_incomplete {
  background-color: #D3D3D3;
  border:2px solid #a9a9a9;
}
/* end of progress bar styling */

.form-ok {
  background-color: #fff;
}

.form-error {
  background-color: #ff9e9e;
}

.no-error {
  display: none;
}

.error-text {
  color: darkred;
  font-style: italic;
}

/* add-entry form styling */
.input-text-boxes {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "error-1 error-1 error-1 error-1 error-1 error-extra"
      "box-1 box-1 box-1 box-1 box-1 box-extra"
      "error-2 error-3 error-4 error-5 error-6 error-7"
      "box-2 box-3 box-4 box-5 box-6 box-7"
      "error-8 error-9 error-10 error-11 error-12 error-13"
      "box-8 box-9 box-10 box-11 box-12 box-13"
      "error-last error-last error-last error-last error-last error-last"
      "box-last box-last box-last box-last box-last box-last";
  grid-gap: 4px;
}

.new-director-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "form-1 form-2";
}


.error-1 {
  grid-area: error-1;
}

.movie-name-box {
  grid-area: box-1;
}

.error-2 {
  grid-area: error-2;
}

.certificate-box {
  grid-area: box-2;
}

.error-3 {
  grid-area: error-3;
}

.release-date-box {
  grid-area: box-3;
}

.error-4 {
  grid-area: error-4;
}

.genre-1-box {
  grid-area: box-4;
}

.genre-2-box {
  grid-area: box-5;
}

.genre-3-box {
  grid-area: box-6;
}

.error-8 {
  grid-area: error-8;
}

.metascore-box {
  grid-area: box-8;
}

.error-9 {
  grid-area: error-9;
}

.gross-box {
  grid-area: box-9;
}

.error-10 {
  grid-area: error-10;
}

.nominations-box {
  grid-area: box-10;
}

.error-11 {
  grid-area: error-11;
}

.awards-box {
  grid-area: box-11;
}

.error-12 {
  grid-area: error-12;
}

.duration-box {
  grid-area: box-12;
}

.error-synopsis {
  grid-area: error-last;
}

.synopsis-box {
  grid-area: box-last;
}

.align-input-box {
  vertical-align: top;
  float: right;
}

textarea, input[type=text], select, input[type=date] {
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

textarea {
  width: 90%;
  max-width: 700px;
}

.new-director-small-width {
  width: 90px;
}

.new-director-mid-width {
  width: 250px;
}

.new-director-long-width {
  width: 500px;
}

.new-director-spacing {
  margin-bottom: 10px;
}

.new-director-one-form {
  display: inline-block;
  grid-area: form-1;
}

.new-director-two-form {
  display: inline-block;
  grid-area: form-2;
}

.genre-tag {
  text-decoration: none;
}

.genre-tag:hover {
  color: #007c72;
}

.tag:hover {
  background-color: #ffd575;
}

.part-one-contents {
  display: inline-block;
  margin-right: 75px;
}

.part-two-contents {
  display: inline-block;
  margin-right: 75px;
}

.part-three-contents {
  display: inline-block;
  vertical-align: bottom;
}

.all-content-parts {
  margin-bottom: 25px;
}

.genre-content {
  margin-bottom: 25px;
}

.new-director-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "form-1 form-2";
}

.content-grid {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;
  grid-template-areas:
      "synopsis edit-tools";
}

.synopsis-div {
  grid-area: synopsis;
  display: inline-block;
}

.edit-tools {
  grid-area: edit-tools;
  text-align: right;
  margin-top: 90px;
}

.edit-tools-director {
  grid-area: edit-tools;
  text-align: right;
}

.delete-button {
  text-decoration: none;
  background-color: #ff6969;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #000;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #ff0000;
}

.delete-text {
  color: #000!important;
  text-decoration: none;
}

.delete-text:hover {
  color: #000;
  text-decoration: none;
}

.cancel-button {
  text-decoration: none;
  background-color: #bfabab;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #000;
  border-radius: 5px;
}

.cancel-button:hover {
  background-color: #6c6161;
}

.cancel-text {
  color: #000!important;
  text-decoration: none;
}

.cancel-text:hover {
  color: #000;
  text-decoration: none;
}
